body {
    background-color: #ddd;
    color: #222;
    font-size: 16px;
}

h1, h2, h3 {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

ul {
    list-style-type: circle;
}

p.img {
    text-align: center;
}